In [2]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv ('shop_product_price_history.csv')
df

,Sname,SPID,Squantity,SPrice,Maker,Category,Pname,Price,Start-date,End-date
0,Shop 1,0,2238,820,Huawei,Tablet,Huawei Mate 11,890,2021-07-17 18:29:09,2021-08-17 14:05:16
1,Shop 2,0,2570,853,Huawei,Tablet,Huawei Mate 11,778,2021-08-08 04:07:27,2021-08-29 02:28:18
2,Shop 3,0,1154,863,Huawei,Tablet,Huawei Mate 11,848,2021-07-04 03:06:37,2021-07-27 07:38:48
3,Shop 4,0,2302,944,Huawei,Tablet,Huawei Mate 11,863,2021-07-06 09:06:10,2021-08-26 05:55:56
4,Shop 5,0,2844,732,Huawei,Tablet,Huawei Mate 11,732,2021-06-29 18:52:06,2021-08-25 09:10:34
5,Shop 1,1,2563,961,Apple,Phone,iPhone 12,954,2021-06-13 06:05:03,2021-07-09 16:55:28
6,Shop 2,1,1965,527,Apple,Phone,iPhone 12,491,2021-06-03 15:23:32,2021-08-22 11:34:15
7,Shop 3,1,2297,735,Apple,Phone,iPhone 12,693,2021-06-17 10:14:18,2021-08-28 14:49:17
8,Shop 4,1,2209,862,Apple,Phone,iPhone 12,843,2021-07-23 13:56:38,2021-08-21 22:48:17
9,Shop 5,1,1738,790,Apple,Phone,iPhone 12,702,2021-07-19 07:51:30,2021-07-27 02:38:03
10,Shop 1,2,2326,780,Huawei,Phone,Huawei P30,780,2021-07-06 16:00:50,2021-07-15 17:22:27
11,Shop 2,2,2820,661,Huawei,Phone,Huawei P30,616,2021-06-07 06:12:29,2021-08-16 23:37:56
12,Shop 3,2,1929,888,Huawei,Phone,Huawei P30,800,2021-06-20 19:57:06,2021-07-29 17:26:51
13,Shop 4,2,2536,649,Huawei,Phone,Huawei P30,667,2021-07-10 22:06:42,2021-07-16 11:52:37
14,Shop 5,2,1749,879,Huawei,Phone,Huawei P30,924,2021-08-12 10:40:34,2021-08-24 20:17:26
15,Shop 1,3,1256,683,Apple,Tablet,iPad Air,673,2021-08-01 06:38:06,2021-08-05 22:11:06
16,Shop 2,3,2426,968,Apple,Tablet,iPad Air,911,2021-07-21 09:24:07,2021-08-18 10:02:20
17,Shop 3,3,1928,550,Apple,Tablet,iPad Air,634,2021-07-29 14:08:37,2021-08-27 23:40:28
18,Shop 4,3,1008,865,Apple,Tablet,iPad Air,880,2021-08-04 17:15:45,2021-08-25 04:47:11
19,Shop 5,3,1752,737,Apple,Tablet,iPad Air,711,2021-08-13 11:50:19,2021-08-23 13:56:39
20,Shop 1,4,2505,924,Samsung,Phone,Samsung Galaxy S10,1008,2021-06-22 17:12:29,2021-07-29 23:22:22
21,Shop 2,4,2712,619,Samsung,Phone,Samsung Galaxy S10,601,2021-06-29 20:11:26,2021-08-19 08:10:55
22,Shop 3,4,2644,715,Samsung,Phone,Samsung Galaxy S10,648,2021-07-09 11:59:16,2021-07-26 20:53:00
23,Shop 4,4,1177,546,Samsung,Phone,Samsung Galaxy S10,537,2021-06-24 23:33:22,2021-08-26 12:10:21
24,Shop 5,4,1590,969,Samsung,Phone,Samsung Galaxy S10,1062,2021-06-18 02:31:37,2021-07-08 05:02:28
25,Shop 1,5,1015,751,Apple,Phone,iPhone 12,773,2021-06-08 01:27:23,2021-07-31 09:21:16
26,Shop 2,5,1313,981,Apple,Phone,iPhone 12,1056,2021-06-08 10:57:09,2021-07-06 23:44:40
27,Shop 3,5,2774,663,Apple,Phone,iPhone 12,576,2021-08-12 08:19:57,2021-08-24 11:07:33
28,Shop 4,5,1490,952,Apple,Phone,iPhone 12,885,2021-07-03 22:23:43,2021-08-08 11:46:09
29,Shop 5,5,1687,953,Apple,Phone,iPhone 12,914,2021-08-03 03:23:40,2021-08-07 00:03:53
30,Shop 1,6,2319,901,Huawei,Phone,Huawei P40,817,2021-08-11 01:31:08,2021-08-13 09:50:26
31,Shop 2,6,1678,969,Huawei,Phone,Huawei P40,1044,2021-07-22 14:08:15,2021-08-09 01:50:39
32,Shop 3,6,2714,930,Huawei,Phone,Huawei P40,915,2021-06-27 20:10:33,2021-08-07 09:52:47
33,Shop 4,6,1915,920,Huawei,Phone,Huawei P40,851,2021-06-29 03:50:16,2021-07-09 09:06:58
34,Shop 5,6,2042,574,Huawei,Phone,Huawei P40,561,2021-06-14 21:53:09,2021-08-12 14:18:01
35,Shop 1,7,2742,694,Huawei,Tablet,Huawei Mate 11,611,2021-07-25 13:30:22,2021-08-28 21:08:37
36,Shop 2,7,2760,780,Huawei,Tablet,Huawei Mate 11,721,2021-07-13 13:52:03,2021-08-02 19:08:16
37,Shop 3,7,2966,740,Huawei,Tablet,Huawei Mate 11,751,2021-06-08 06:05:12,2021-07-14 02:09:12
38,Shop 4,7,2674,513,Huawei,Tablet,Huawei Mate 11,455,2021-06-17 10:59:01,2021-07-13 21:14:28
39,Shop 5,7,2502,816,Huawei,Tablet,Huawei Mate 11,804,2021-08-06 22:35:48,2021-08-09 10:55:23
40,Shop 1,8,1293,728,Samsung,Phone,Samsung Galaxy S20,669,2021-07-27 09:59:49,2021-08-16 06:24:40
41,Shop 2,8,1231,994,Samsung,Phone,Samsung Galaxy S20,1035,2021-07-28 11:49:23,2021-08-30 03:42:35
42,Shop 3,8,2888,662,Samsung,Phone,Samsung Galaxy S20,734,2021-07-23 00:08:46,2021-08-22 06:53:39
43,Shop 4,8,1984,646,Samsung,Phone,Samsung Galaxy S20,581,2021-06-06 19:14:28,2021-07-12 23:56:35
44,Shop 5,8,1652,900,Samsung,Phone,Samsung Galaxy S20,892,2021-07-14 08:13:17,2021-08-01 00:29:27
45,Shop 2,9,1222,962,Apple,Phone,iPhone XS,863,2021-06-04 11:13:52,2021-07-09 06:35:19
46,Shop 3,9,2392,895,Apple,Phone,iPhone XS,899,2021-07-07 05:34:24,2021-07-14 11:16:39
47,Shop 4,9,2449,647,Apple,Phone,iPhone XS,692,2021-07-26 06:55:32,2021-08-13 02:57:43
48,Shop 5,9,1297,723,Apple,Phone,iPhone XS,696,2021-06-02 08:22:05,2021-06-13 20:28:50
49,Shop 2,10,1664,942,Apple,Tablet,iPad Mini,946,2021-07-06 17:16:45,2021-08-10 06:43:12
50,Shop 3,10,1894,866,Apple,Tablet,iPad Mini,791,2021-06-23 06:42:26,2021-07-25 17:38:36
51,Shop 4,10,1190,763,Apple,Tablet,iPad Mini,859,2021-06-17 17:42:28,2021-08-18 12:18:49
52,Shop 5,10,2463,559,Apple,Tablet,iPad Mini,498,2021-07-27 17:33:37,2021-08-08 13:03:34
53,Shop 4,11,1627,880,Huawei,Phone,Huawei P50,797,2021-07-18 23:46:00,2021-08-18 06:59:14
54,Shop 5,11,1399,827,Huawei,Phone,Huawei P50,800,2021-06-27 04:25:29,2021-07-29 04:21:09
55,Shop 5,12,2235,653,Samsung,Tablet,Samsung Tab C,605,2021-07-28 04:14:31,2021-08-22 05:54:06

In [6]:
price_record = df[["Pname", "Start-date", "End-date", "Price"]]

In [68]:
price_record.drop_duplicates()
price_record

                 Pname           Start-date             End-date  Price
0       Huawei Mate 11  2021-07-17 18:29:09  2021-08-17 14:05:16    890
1       Huawei Mate 11  2021-08-08 04:07:27  2021-08-29 02:28:18    778
2       Huawei Mate 11  2021-07-04 03:06:37  2021-07-27 07:38:48    848
3       Huawei Mate 11  2021-07-06 09:06:10  2021-08-26 05:55:56    863
4       Huawei Mate 11  2021-06-29 18:52:06  2021-08-25 09:10:34    732
5            iPhone 12  2021-06-13 06:05:03  2021-07-09 16:55:28    954
6            iPhone 12  2021-06-03 15:23:32  2021-08-22 11:34:15    491
7            iPhone 12  2021-06-17 10:14:18  2021-08-28 14:49:17    693
8            iPhone 12  2021-07-23 13:56:38  2021-08-21 22:48:17    843
9            iPhone 12  2021-07-19 07:51:30  2021-07-27 02:38:03    702
10          Huawei P30  2021-07-06 16:00:50  2021-07-15 17:22:27    780
11          Huawei P30  2021-06-07 06:12:29  2021-08-16 23:37:56    616
12          Huawei P30  2021-06-20 19:57:06  2021-07-29 17:26:51    800
13          Huawei P30  2021-07-10 22:06:42  2021-07-16 11:52:37    667
14          Huawei P30  2021-08-12 10:40:34  2021-08-24 20:17:26    924
15            iPad Air  2021-08-01 06:38:06  2021-08-05 22:11:06    673
16            iPad Air  2021-07-21 09:24:07  2021-08-18 10:02:20    911
17            iPad Air  2021-07-29 14:08:37  2021-08-27 23:40:28    634
18            iPad Air  2021-08-04 17:15:45  2021-08-25 04:47:11    880
19            iPad Air  2021-08-13 11:50:19  2021-08-23 13:56:39    711
20  Samsung Galaxy S10  2021-06-22 17:12:29  2021-07-29 23:22:22   1008
21  Samsung Galaxy S10  2021-06-29 20:11:26  2021-08-19 08:10:55    601
22  Samsung Galaxy S10  2021-07-09 11:59:16  2021-07-26 20:53:00    648
23  Samsung Galaxy S10  2021-06-24 23:33:22  2021-08-26 12:10:21    537
24  Samsung Galaxy S10  2021-06-18 02:31:37  2021-07-08 05:02:28   1062
25           iPhone 12  2021-06-08 01:27:23  2021-07-31 09:21:16    773
26           iPhone 12  2021-06-08 10:57:09  2021-07-06 23:44:40   1056
27           iPhone 12  2021-08-12 08:19:57  2021-08-24 11:07:33    576
28           iPhone 12  2021-07-03 22:23:43  2021-08-08 11:46:09    885
29           iPhone 12  2021-08-03 03:23:40  2021-08-07 00:03:53    914
30          Huawei P40  2021-08-11 01:31:08  2021-08-13 09:50:26    817
31          Huawei P40  2021-07-22 14:08:15  2021-08-09 01:50:39   1044
32          Huawei P40  2021-06-27 20:10:33  2021-08-07 09:52:47    915
33          Huawei P40  2021-06-29 03:50:16  2021-07-09 09:06:58    851
34          Huawei P40  2021-06-14 21:53:09  2021-08-12 14:18:01    561
35      Huawei Mate 11  2021-07-25 13:30:22  2021-08-28 21:08:37    611
36      Huawei Mate 11  2021-07-13 13:52:03  2021-08-02 19:08:16    721
37      Huawei Mate 11  2021-06-08 06:05:12  2021-07-14 02:09:12    751
38      Huawei Mate 11  2021-06-17 10:59:01  2021-07-13 21:14:28    455
39      Huawei Mate 11  2021-08-06 22:35:48  2021-08-09 10:55:23    804
40  Samsung Galaxy S20  2021-07-27 09:59:49  2021-08-16 06:24:40    669
41  Samsung Galaxy S20  2021-07-28 11:49:23  2021-08-30 03:42:35   1035
42  Samsung Galaxy S20  2021-07-23 00:08:46  2021-08-22 06:53:39    734
43  Samsung Galaxy S20  2021-06-06 19:14:28  2021-07-12 23:56:35    581
44  Samsung Galaxy S20  2021-07-14 08:13:17  2021-08-01 00:29:27    892
45           iPhone XS  2021-06-04 11:13:52  2021-07-09 06:35:19    863
46           iPhone XS  2021-07-07 05:34:24  2021-07-14 11:16:39    899
47           iPhone XS  2021-07-26 06:55:32  2021-08-13 02:57:43    692
48           iPhone XS  2021-06-02 08:22:05  2021-06-13 20:28:50    696
49           iPad Mini  2021-07-06 17:16:45  2021-08-10 06:43:12    946
50           iPad Mini  2021-06-23 06:42:26  2021-07-25 17:38:36    791
51           iPad Mini  2021-06-17 17:42:28  2021-08-18 12:18:49    859
52           iPad Mini  2021-07-27 17:33:37  2021-08-08 13:03:34    498
53          Huawei P50  2021-07-18 23:46:00  2021-08-18 06:59:14    797
54          Huawei P50  2021-06-27 04:25:29  2021-07-29 04:21:09    800
55       Samsung Tab C  2021-07-28 04:14:31  2021-08-22 05:54:06    605

In [8]:
price_record.to_csv('price_record.csv')

In [9]:
df1 = pd.read_csv ('shop_product.csv')
df2 = pd.read_csv ('order_UID.csv')
df3 = pd.read_csv ('order_shop_merged.csv')

In [90]:
products = df[["Pname", "Maker", "Category",]]
products = products.drop_duplicates()
products

                 Pname    Maker Category
0       Huawei Mate 11   Huawei   Tablet
5            iPhone 12    Apple    Phone
10          Huawei P30   Huawei    Phone
15            iPad Air    Apple   Tablet
20  Samsung Galaxy S10  Samsung    Phone
30          Huawei P40   Huawei    Phone
40  Samsung Galaxy S20  Samsung    Phone
45           iPhone XS    Apple    Phone
49           iPad Mini    Apple   Tablet
53          Huawei P50   Huawei    Phone
55       Samsung Tab C  Samsung   Tablet

In [93]:
products.to_csv('Products_v2.csv')

#readd

In [92]:
products_in_shops = df[["Pname", "Maker", "Category", "SPID", "SPrice", "Squantity", "Sname"]]
products_in_shops = products_in_shops.drop_duplicates()
products_in_shops

                 Pname    Maker Category  SPID  SPrice  Squantity   Sname
0       Huawei Mate 11   Huawei   Tablet     0     820       2238  Shop 1
1       Huawei Mate 11   Huawei   Tablet     0     853       2570  Shop 2
2       Huawei Mate 11   Huawei   Tablet     0     863       1154  Shop 3
3       Huawei Mate 11   Huawei   Tablet     0     944       2302  Shop 4
4       Huawei Mate 11   Huawei   Tablet     0     732       2844  Shop 5
5            iPhone 12    Apple    Phone     1     961       2563  Shop 1
6            iPhone 12    Apple    Phone     1     527       1965  Shop 2
7            iPhone 12    Apple    Phone     1     735       2297  Shop 3
8            iPhone 12    Apple    Phone     1     862       2209  Shop 4
9            iPhone 12    Apple    Phone     1     790       1738  Shop 5
10          Huawei P30   Huawei    Phone     2     780       2326  Shop 1
11          Huawei P30   Huawei    Phone     2     661       2820  Shop 2
12          Huawei P30   Huawei    Phone     2     888       1929  Shop 3
13          Huawei P30   Huawei    Phone     2     649       2536  Shop 4
14          Huawei P30   Huawei    Phone     2     879       1749  Shop 5
15            iPad Air    Apple   Tablet     3     683       1256  Shop 1
16            iPad Air    Apple   Tablet     3     968       2426  Shop 2
17            iPad Air    Apple   Tablet     3     550       1928  Shop 3
18            iPad Air    Apple   Tablet     3     865       1008  Shop 4
19            iPad Air    Apple   Tablet     3     737       1752  Shop 5
20  Samsung Galaxy S10  Samsung    Phone     4     924       2505  Shop 1
21  Samsung Galaxy S10  Samsung    Phone     4     619       2712  Shop 2
22  Samsung Galaxy S10  Samsung    Phone     4     715       2644  Shop 3
23  Samsung Galaxy S10  Samsung    Phone     4     546       1177  Shop 4
24  Samsung Galaxy S10  Samsung    Phone     4     969       1590  Shop 5
25           iPhone 12    Apple    Phone     5     751       1015  Shop 1
26           iPhone 12    Apple    Phone     5     981       1313  Shop 2
27           iPhone 12    Apple    Phone     5     663       2774  Shop 3
28           iPhone 12    Apple    Phone     5     952       1490  Shop 4
29           iPhone 12    Apple    Phone     5     953       1687  Shop 5
30          Huawei P40   Huawei    Phone     6     901       2319  Shop 1
31          Huawei P40   Huawei    Phone     6     969       1678  Shop 2
32          Huawei P40   Huawei    Phone     6     930       2714  Shop 3
33          Huawei P40   Huawei    Phone     6     920       1915  Shop 4
34          Huawei P40   Huawei    Phone     6     574       2042  Shop 5
35      Huawei Mate 11   Huawei   Tablet     7     694       2742  Shop 1
36      Huawei Mate 11   Huawei   Tablet     7     780       2760  Shop 2
37      Huawei Mate 11   Huawei   Tablet     7     740       2966  Shop 3
38      Huawei Mate 11   Huawei   Tablet     7     513       2674  Shop 4
39      Huawei Mate 11   Huawei   Tablet     7     816       2502  Shop 5
40  Samsung Galaxy S20  Samsung    Phone     8     728       1293  Shop 1
41  Samsung Galaxy S20  Samsung    Phone     8     994       1231  Shop 2
42  Samsung Galaxy S20  Samsung    Phone     8     662       2888  Shop 3
43  Samsung Galaxy S20  Samsung    Phone     8     646       1984  Shop 4
44  Samsung Galaxy S20  Samsung    Phone     8     900       1652  Shop 5
45           iPhone XS    Apple    Phone     9     962       1222  Shop 2
46           iPhone XS    Apple    Phone     9     895       2392  Shop 3
47           iPhone XS    Apple    Phone     9     647       2449  Shop 4
48           iPhone XS    Apple    Phone     9     723       1297  Shop 5
49           iPad Mini    Apple   Tablet    10     942       1664  Shop 2
50           iPad Mini    Apple   Tablet    10     866       1894  Shop 3
51           iPad Mini    Apple   Tablet    10     763       1190  Shop 4
52           iPad Mini    Apple   Tablet    10     559       2463  Shop 5
53          Huawei P50   Huawei    Phone    11     880       1627  Shop 4
54          Huawei P50   Huawei    Phone    11     827       1399  Shop 5
55       Samsung Tab C  Samsung   Tablet    12     653       2235  Shop 5

In [ ]:
products_in_shops.to_csv('products_in_shops.csv')

In [19]:
df4 = pd.read_csv('shop_order_feedback.csv')

In [20]:
df4.head()

,UName,Shipping address,OID,OPID,Order-date-time,OQuantity,Status,Sname,UID,SPID,...,SPrice,Maker,Category,Pname,OPrice,Price,Delivery-date,Feedback-date-time,Comment,Rating
0,A,722104,45,4,2021-08-27 11:27:36,6,shipped,Shop 5,1,4,...,969,Samsung,Phone,Samsung Galaxy S10,969,605,NaN,NaN,Slow delivery,5
1,B,588701,4,4,2021-06-07 12:47:31,9,returned,Shop 5,2,4,...,969,Samsung,Phone,Samsung Galaxy S10,969,605,NaN,NaN,NaN,5
2,E,758492,153,4,2021-07-22 02:32:18,1,returned,Shop 5,5,4,...,969,Samsung,Phone,Samsung Galaxy S10,969,605,NaN,NaN,Great product!,2
3,L,210745,131,4,2021-07-28 16:50:05,5,delivered,Shop 5,12,4,...,969,Samsung,Phone,Samsung Galaxy S10,969,605,2021-08-14 15:51:55,2021-08-16 08:21:56,Fast delivery,2
4,AE,469906,123,4,2021-07-27 01:55:42,1,returned,Shop 5,31,4,...,969,Samsung,Phone,Samsung Galaxy S10,969,605,NaN,NaN,Slow delivery,0

In [97]:
Feedback = df4[["Pname", "UID", "Feedback-date-time", "Rating", "Comment"]]
Feedback = Feedback.drop_duplicates()
Feedback

                  Pname  UID   Feedback-date-time  Rating         Comment
0    Samsung Galaxy S10    1                  NaN       5   Slow delivery
1    Samsung Galaxy S10    2                  NaN       5             NaN
2    Samsung Galaxy S10    5                  NaN       2  Great product!
3    Samsung Galaxy S10   12  2021-08-16 08:21:56       2   Fast delivery
4    Samsung Galaxy S10   31                  NaN       0   Slow delivery
..                  ...  ...                  ...     ...             ...
433      Huawei Mate 11   41  2021-08-15 14:22:21       0  Great product!
434      Huawei Mate 11   52                  NaN       0  Great product!
435      Huawei Mate 11   87                  NaN       5  Great product!
436           iPhone 12   56                  NaN       1  Great product!
437           iPhone 12   57                  NaN       5   Fast delivery

[435 rows x 5 columns]

In [98]:
Feedback.to_csv('Feedback_v2.csv')
##readd

In [28]:
Products_in_orders = df4[["Pname", "OPID", "OPrice", "OQuantity", "Delivery-date", "Status", "Sname", "OID"]]
Products_in_orders.to_csv('Products_in_orders.csv')

In [77]:
Orders = df4[["OID", "Order-date-time", "Shipping address", "UID"]]
Orders = Orders.drop_duplicates()

In [78]:
Orders.rename(columns = {'Order-date-time':'Order_date', 'Shipping address':'Shipping_address'}, inplace = True)

In [79]:
Orders

     OID           Order_date  Shipping_address  UID
0     45  2021-08-27 11:27:36            722104    1
1      4  2021-06-07 12:47:31            588701    2
2    153  2021-07-22 02:32:18            758492    5
3    131  2021-07-28 16:50:05            210745   12
4    123  2021-07-27 01:55:42            469906   31
..   ...                  ...               ...  ...
383  184  2021-08-09 20:39:29            320442   29
405  152  2021-07-15 10:01:38            500788   82
413  172  2021-06-12 19:56:58            599810   39
421  169  2021-07-02 04:39:09            426917   55
428  136  2021-08-16 19:01:45            918079   89

[149 rows x 4 columns]

In [95]:
Orders.to_csv('Orders_v2.csv')
##readd

In [35]:
df5 = pd.read_csv('employee_only.csv')

In [36]:
df5

    EID Employee name  Salary
0     1             A    8100
1     2             B    2300
2     3             C    5600
3     4             D    3100
4     5             E    2800
5     6             F    7300
6     7             G    8900
7     8             H    7800
8     9             I    3100
9    10             J    3600
10   11             K    9600
11   12             L    6800
12   13             M    5700
13   14             N    5300
14   15             O    5700
15   16             P    9400
16   17             Q    2800
17   18             R    7100
18   19             S    5100
19   20             T    3700
20   21             U    5300
21   22             V    4000
22   23             W    4600
23   24             X    9800
24   25             Y    9900
25   26             Z    6700
26   27            AA    8600
27   28            AB    7400
28   29            AC    3100
29   30            AD    2800
30   31            AE    6100
31   32            AF    7300
32   33            AG    3000
33   34            AH    2700
34   35            AI    5200
35   36            AJ    7700
36   37            AK    9100
37   38            AL    7200
38   39            AM    8600
39   40            AN    8500
40   41            AO    5900
41   42            AP    2700
42   43            AQ    7600
43   44            AR    9300
44   45            AS    7000
45   46            AT    5700
46   47            AU    6500
47   48            AV    7300
48   49            AW    6800
49   50            AX    9700

In [41]:
Employees = df5

In [81]:
Employees.rename(columns = {'Employee name':'Employee_name'}, inplace = True)
Employees.drop_duplicates()

    EID Employee_name  Salary
0     1             A    8100
1     2             B    2300
2     3             C    5600
3     4             D    3100
4     5             E    2800
5     6             F    7300
6     7             G    8900
7     8             H    7800
8     9             I    3100
9    10             J    3600
10   11             K    9600
11   12             L    6800
12   13             M    5700
13   14             N    5300
14   15             O    5700
15   16             P    9400
16   17             Q    2800
17   18             R    7100
18   19             S    5100
19   20             T    3700
20   21             U    5300
21   22             V    4000
22   23             W    4600
23   24             X    9800
24   25             Y    9900
25   26             Z    6700
26   27            AA    8600
27   28            AB    7400
28   29            AC    3100
29   30            AD    2800
30   31            AE    6100
31   32            AF    7300
32   33            AG    3000
33   34            AH    2700
34   35            AI    5200
35   36            AJ    7700
36   37            AK    9100
37   38            AL    7200
38   39            AM    8600
39   40            AN    8500
40   41            AO    5900
41   42            AP    2700
42   43            AQ    7600
43   44            AR    9300
44   45            AS    7000
45   46            AT    5700
46   47            AU    6500
47   48            AV    7300
48   49            AW    6800
49   50            AX    9700

In [43]:
Employees.to_csv('Employees.csv')

In [46]:
df6 = pd.read_csv('complaints_orders_date.csv')
df7 = pd.read_csv('complaints_shops_date.csv')

In [47]:
df6

,UName,Shipping address,OID,OPID,Order-date-time,OQuantity,Status,Sname,UID,SPID,...,Delivery-date,Feedback-date-time,Comment,Rating,CID,Complain-status,Complain-text,EID,Filed-date-time,Handled-date-time
0,B,588701,4,4,2021-06-07 12:47:31,9,returned,Shop 5,2,4,...,NaN,NaN,NaN,5,59,pending,Faulty on arrival,74,2021-07-22 23:02:09,2021-08-08 06:16:27
1,B,588701,4,4,2021-06-07 12:47:31,9,returned,Shop 5,2,4,...,NaN,NaN,NaN,5,64,being handled,Damaged packaging,95,2021-07-04 01:05:53,2021-08-12 23:59:17
2,B,588701,4,4,2021-06-07 12:47:31,9,returned,Shop 5,2,4,...,NaN,NaN,NaN,5,76,pending,Faulty on arrival,48,2021-07-22 02:29:48,2021-08-30 09:06:37
3,B,588701,4,4,2021-06-07 12:47:31,9,returned,Shop 5,2,4,...,NaN,NaN,NaN,5,85,addressed,Damaged packaging,93,2021-08-04 23:46:06,2021-08-07 19:23:49
4,B,588701,4,4,2021-06-07 12:47:31,9,returned,Shop 5,2,4,...,NaN,NaN,NaN,5,88,being handled,Not worth,92,2021-07-31 07:29:05,2021-08-17 22:17:26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,BM,470440,8,3,2021-08-23 16:52:49,7,delivered,Shop 1,65,3,...,2021-08-23 00:00:00,2021-08-28 09:13:49,Slow delivery,2,93,being handled,Bad vibes,21,2021-08-24 00:00:00,2021-08-23 22:56:10
107,BM,470440,8,2,2021-08-23 16:52:49,4,returned,Shop 2,65,2,...,NaN,NaN,NaN,5,50,pending,Regretted buying,66,2021-08-24 00:00:00,2021-08-23 09:12:12
108,BM,470440,8,2,2021-08-23 16:52:49,4,returned,Shop 2,65,2,...,NaN,NaN,NaN,5,52,pending,Damaged packaging,3,2021-08-24 00:00:00,2021-08-23 01:00:57
109,BM,470440,8,2,2021-08-23 16:52:49,4,returned,Shop 2,65,2,...,NaN,NaN,NaN,5,55,being handled,Regretted buying,73,2021-08-24 00:00:00,2021-08-23 10:19:48
110,BM,470440,8,2,2021-08-23 16:52:49,4,returned,Shop 2,65,2,...,NaN,NaN,NaN,5,93,being handled,Bad vibes,21,2021-08-24 00:00:00,2021-08-30 22:33:47

In [48]:
df7

,UName,Shipping address,OID,OPID,Order-date-time,OQuantity,Status,Sname,UID,SPID,...,Comment,Rating,CID,Complain-status,Complain-text,EID,Employee name,Salary,Filed-date-time,Handled-date-time
0,X,519628,113,3,2021-08-07 13:34:13,1,being processed,Shop 3,24,3,...,Slow delivery,5,25,addressed,Bad vibes,46,AT,5700,2021-08-08 00:00:00,2021-08-22 09:00:18
1,CP,987814,13,3,2021-07-02 07:22:36,2,delivered,Shop 3,94,3,...,Great product!,1,0,addressed,Not worth,39,AM,8600,2021-07-17 12:00:52,2021-08-26 05:41:30
2,BE,623319,63,11,2021-08-04 10:53:39,2,delivered,Shop 4,57,11,...,NaN,5,10,addressed,Not good,31,AE,6100,2021-08-05 00:00:00,2021-08-16 01:18:55
3,AX,633732,141,3,2021-07-06 08:09:22,4,delivered,Shop 2,50,3,...,Great product!,3,14,being handled,Bad vibes,6,F,7300,2021-08-03 02:29:00,2021-08-13 00:29:14
4,AX,633732,141,5,2021-07-06 08:09:22,4,delivered,Shop 2,50,5,...,Slow delivery,5,14,being handled,Bad vibes,6,F,7300,2021-07-14 14:15:07,2021-08-16 22:21:16
5,CG,345070,142,3,2021-07-24 14:49:57,8,delivered,Shop 2,85,3,...,Great product!,5,45,pending,Bad vibes,31,AE,6100,2021-08-02 05:20:41,2021-08-26 09:38:42
6,BN,188234,90,4,2021-06-23 13:22:49,8,returned,Shop 1,66,4,...,Fast delivery,1,48,addressed,Bad service,40,AN,8500,2021-08-01 06:25:32,2021-08-23 19:29:37
7,CO,418328,98,4,2021-08-12 03:46:15,7,returned,Shop 2,93,4,...,Great product!,5,1,addressed,Not good,5,E,2800,2021-08-13 00:00:00,2021-08-15 01:01:02
8,BS,569920,41,9,2021-08-20 22:01:54,6,being processed,Shop 3,71,9,...,Great product!,5,18,addressed,Not worth,47,AU,6500,2021-08-21 00:00:00,2021-08-20 19:27:47
9,AQ,262708,91,4,2021-08-21 23:32:41,8,shipped,Shop 3,43,4,...,Slow delivery,5,22,pending,False advertising,9,I,3100,2021-08-22 00:00:00,2021-08-30 13:14:38

In [85]:
ComplaintsOnOrders = df6[["CID", "OID"]]
ComplaintsOnOrders = ComplaintsOnOrders.drop_duplicates()
ComplaintsOnOrders

     CID  OID
0     59    4
1     64    4
2     76    4
3     85    4
4     88    4
5     89    4
30    70   11
31    82   11
38    71    6
42    60    5
43    65    5
44    68    5
45    77    5
58    69    2
59    81    2
60    87    2
61    91    2
78    63    9
79    73    9
80    80    9
81    90    9
82    99    9
93    67   12
94    74   12
95    96   12
99    50    8
100   52    8
101   55    8
102   93    8

In [86]:
ComplaintsOnShops = df7[["CID", "Sname"]]
ComplaintsOnShops = ComplaintsOnShops.drop_duplicates()
ComplaintsOnShops

   CID   Sname
0   25  Shop 3
1    0  Shop 3
2   10  Shop 4
3   14  Shop 2
5   45  Shop 2
6   48  Shop 1
7    1  Shop 2
8   18  Shop 3
9   22  Shop 3

In [53]:
ComplaintsOnOrders.to_csv('ComplaintsOnOrders.csv')
ComplaintsOnShops.to_csv('ComplaintsOnShops.csv')

In [54]:
df8 = pd.read_csv('complaints.csv')
df8

,UName,Shipping address,OID,OPID,Order-date-time,OQuantity,Status,Sname,UID,SPID,...,Delivery-date,Feedback-date-time,Comment,Rating,CID,Complain-status,Complain-text,EID,Filed-date-time,Handled-date-time
0,B,588701.0,4.0,4.0,07-06-21 12:47,9.0,returned,Shop 5,2.0,4.0,...,NaN,NaN,NaN,5.0,59.0,pending,Faulty on arrival,74.0,22-07-21 23:02,08-08-21 6:16
1,B,588701.0,4.0,4.0,07-06-21 12:47,9.0,returned,Shop 5,2.0,4.0,...,NaN,NaN,NaN,5.0,64.0,being handled,Damaged packaging,95.0,04-07-21 1:05,12-08-21 23:59
2,B,588701.0,4.0,4.0,07-06-21 12:47,9.0,returned,Shop 5,2.0,4.0,...,NaN,NaN,NaN,5.0,76.0,pending,Faulty on arrival,48.0,22-07-21 2:29,30-08-21 9:06
3,B,588701.0,4.0,4.0,07-06-21 12:47,9.0,returned,Shop 5,2.0,4.0,...,NaN,NaN,NaN,5.0,85.0,addressed,Damaged packaging,93.0,04-08-21 23:46,07-08-21 19:23
4,B,588701.0,4.0,4.0,07-06-21 12:47,9.0,returned,Shop 5,2.0,4.0,...,NaN,NaN,NaN,5.0,88.0,being handled,Not worth,92.0,31-07-21 7:29,17-08-21 22:17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,BN,188234.0,90.0,4.0,23-06-21 13:22,8.0,returned,Shop 1,66.0,4.0,...,NaN,NaN,Fast delivery,1.0,48.0,addressed,Bad service,40.0,01-08-21 6:25,23-08-21 19:29
118,CO,418328.0,98.0,4.0,12-08-21 3:46,7.0,returned,Shop 2,93.0,4.0,...,NaN,NaN,Great product!,5.0,1.0,addressed,Not good,5.0,13-08-21 0:00,15-08-21 1:01
119,BS,569920.0,41.0,9.0,20-08-21 22:01,6.0,being processed,Shop 3,71.0,9.0,...,NaN,NaN,Great product!,5.0,18.0,addressed,Not worth,47.0,21-08-21 0:00,20-08-21 19:27
120,AQ,262708.0,91.0,4.0,21-08-21 23:32,8.0,shipped,Shop 3,43.0,4.0,...,NaN,NaN,Slow delivery,5.0,22.0,pending,False advertising,9.0,22-08-21 0:00,30-08-21 13:14
121,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
Complaints = df8[["CID", "UID","Filed-date-time","Complain-text","Complain-status","EID","Handled-date-time"]]

In [56]:
Complaints.to_csv('Complaints.csv')

In [60]:
df9 = pd.read_csv('Shops.csv')
df10 = pd.read_csv('users.csv')

In [61]:
df9

    Sname
0  Shope1
1   Shop2
2   Shop3
3   Shop4
4   Shop5

In [62]:
df10

    UID Uname
0     1     A
1     2     B
2     3     C
3     4     D
4     5     E
..  ...   ...
95   96    CR
96   97    CS
97   98    CT
98   99    CU
99  100    CV

[100 rows x 2 columns]

In [63]:
Shops = df9

In [64]:
Shops.to_csv = ('Shops.csv')

In [65]:
Users = df10

In [66]:
Users.to_csv = ('Users.csv')

In [ ]:
df11 = pd.read_csv('complaints_orders_date_v2.csv')
df11

In [104]:
ComplaintsOnOrders_v2 = df11[["CID", "OID"]]
ComplaintsOnOrders_v2.drop_duplicates()
ComplaintsOnOrders_v2

    CID  OID
0    70   11
1    86   11
2    93   11
3    70   11
4    86   11
..  ...  ...
91   82    4
92   84    4
93   91    4
94   96    4
95   98    4

[96 rows x 2 columns]

In [105]:
ComplaintsOnOrders_v2.to_csv('ComplaintsOnOrders_v2.csv')

In [106]:
df12 = pd.read_csv('Complaints_rawdata_v2.csv')
df12

,UName,Shipping address,OID,OPID,Order-date-time,OQuantity,Status,Sname,UID,SPID,...,Delivery-date,Feedback-date-time,Comment,Rating,CID,Complain-status,Complain-text,EID,Filed-date-time,Handled-date-time
0,BQ,422925,11,7,02-08-21 11:31,2,shipped,Shop 3,69,7,...,NaN,NaN,NaN,4,70,pending,Regretted buying,52,03-08-21 0:00,23-08-21 2:25
1,BQ,422925,11,7,02-08-21 11:31,2,shipped,Shop 3,69,7,...,NaN,NaN,NaN,4,86,addressed,Damaged packaging,17,03-08-21 0:00,08-08-21 23:19
2,BQ,422925,11,7,02-08-21 11:31,2,shipped,Shop 3,69,7,...,NaN,NaN,NaN,4,93,being handled,Not worth,83,03-08-21 0:00,16-08-21 5:36
3,BQ,422925,11,6,02-08-21 11:31,6,delivered,Shop 3,69,6,...,07-08-21 4:18,23-08-21 7:32,Slow delivery,5,70,pending,Regretted buying,52,03-08-21 0:00,30-08-21 18:54
4,BQ,422925,11,6,02-08-21 11:31,6,delivered,Shop 3,69,6,...,07-08-21 4:18,23-08-21 7:32,Slow delivery,5,86,addressed,Damaged packaging,17,03-08-21 0:00,06-08-21 20:29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,CG,345070,142,3,24-07-21 14:49,8,delivered,Shop 2,85,3,...,28-07-21 6:10,17-08-21 14:39,Great product!,5,45,pending,Bad vibes,31,02-08-21 5:20,26-08-21 9:38
102,BN,188234,90,4,23-06-21 13:22,8,returned,Shop 1,66,4,...,NaN,NaN,Fast delivery,1,48,addressed,Bad service,40,01-08-21 6:25,23-08-21 19:29
103,CO,418328,98,4,12-08-21 3:46,7,returned,Shop 2,93,4,...,NaN,NaN,Great product!,5,1,addressed,Not good,5,13-08-21 0:00,15-08-21 1:01
104,BS,569920,41,9,20-08-21 22:01,6,being processed,Shop 3,71,9,...,NaN,NaN,Great product!,5,18,addressed,Not worth,47,21-08-21 0:00,20-08-21 19:27
105,AQ,262708,91,4,21-08-21 23:32,8,shipped,Shop 3,43,4,...,NaN,NaN,Slow delivery,5,22,pending,False advertising,9,22-08-21 0:00,30-08-21 13:14

In [107]:
Complaints_v2 = df12[["CID", "UID","Filed-date-time","Complain-text","Complain-status","EID","Handled-date-time"]]

In [111]:
Complaints_v2 = Complaints_v2.drop_duplicates()
Complaints_v2

,CID,UID,Filed-date-time,Complain-text,Complain-status,EID,Handled-date-time
0,70,69,03-08-21 0:00,Regretted buying,pending,52,23-08-21 2:25
1,86,69,03-08-21 0:00,Damaged packaging,addressed,17,08-08-21 23:19
2,93,69,03-08-21 0:00,Not worth,being handled,83,16-08-21 5:36
3,70,69,03-08-21 0:00,Regretted buying,pending,52,30-08-21 18:54
4,86,69,03-08-21 0:00,Damaged packaging,addressed,17,06-08-21 20:29
...,...,...,...,...,...,...,...
101,45,85,02-08-21 5:20,Bad vibes,pending,31,26-08-21 9:38
102,48,66,01-08-21 6:25,Bad service,addressed,40,23-08-21 19:29
103,1,93,13-08-21 0:00,Not good,addressed,5,15-08-21 1:01
104,18,71,21-08-21 0:00,Not worth,addressed,47,20-08-21 19:27
105,22,43,22-08-21 0:00,False advertising,pending,9,30-08-21 13:14

In [112]:
Complaints_v2.to_csv('Complaints_v2.csv')